<div class="container-fluid">
  <nav class="navbar justify-content-center navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
      <a class="navbar-brand" href="#">Fortune Wheel</a>
      <ul class="nav navbar-nav">
        <li *ngFor="let b of brands" class="nav-item"><a routerLink="/prizes/{{b}}" class="nav-link">{{b}}</a></li>
      </ul>
    </div>
  </nav>
</div>

<div class="container">
  <router-outlet></router-outlet>
</div>

<!-- Modal -->
<div id="logsModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Logs History</h4>
      </div>
      <div class="modal-body">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
